<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 쿼리문 xml에 넣어서 사용하기 -->
  <!-- namespace = 우리껄로 패키지 지정해줘야한다 -->
<mapper namespace="edu.springz.mapper.MemoMapper">

	<sql id="criteria">
      	<trim prefix="(" suffix=") AND  " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
               <trim prefix="OR">
                  <choose>
                     <when test="type =='T'.toString()">
                        title like '%'||#{keyword}||'%'
                     </when>
                     <when test="type =='C'.toString()">
                        content like '%'||#{keyword}||'%'
                     </when>
                     <when test="type =='W'.toString()">
                        writer like '%'||#{keyword}||'%'
                     </when>
                  </choose>
               </trim>
            </foreach>
         </trim>
      </sql>
      
   <select id="getListWithPaging" resultType="edu.springz.domain.MemoVO">
      <![CDATA[
         SELECT * FROM ( 
            SELECT /*+INDEX_DESC(tbl_memo sys_coo7334) */ 
                rownum rn, no, content, id, regdate, updatedate, title, replycnt
             FROM tbl_memo 
             WHERE 
      ]]>  
      
      <!-- 보관해 둔 쿼리 사용 -->
      	<include refid="criteria"></include>
 
   	  <![CDATA[ 
  			 rownum <= #{pageNum} * #{amount} 
             ) WHERE rn > (#{pageNum} - 1) * #{amount}
      ]]>    
             
    </select>
   
   <select id="getTotalCount" resultType="int">
      <![CDATA[
         SELECT COUNT(*) FROM tbl_memo WHERE  
      ]]>  
       <include refid="criteria"></include>
      <![CDATA[ 
     	no > 0 
     ]]>
   </select>

   <select id="getList" resultType="edu.springz.domain.MemoVO"> 
	   <![CDATA[ 
	   	SELECT * FROM tbl_memo WHERE no>0 ORDER BY no DESC
	   ]]>
   </select> 
   
   <insert id="insert">
   	insert into tbl_memo(no, title, content, id) values(seq_memo.nextval, #{title}, #{content}, #{id})
   </insert>
   
   <insert id="insertSelectKey">
   	<selectKey keyProperty="no" order="BEFORE" resultType="long">
   		SELECT seq_memo.nextval FROM dual
   	</selectKey>
   	insert into tbl_memo(no, title, content, id) values(#{no}, #{title}, #{content}, #{id})
   	
   </insert>
   
   <select id="read" resultType="edu.springz.domain.MemoVO">
          SELECT * FROM tbl_memo WHERE no = #{no}
   </select>
   
   <delete id="delete">
      delete tbl_memo where no = #{no}
   </delete>
   
   <update id="update">
   		UPDATE tbl_memo
   		SET title = #{title}, content = #{content}, id = #{id}, updateDate = sysdate
   		WHERE no = #{no}
   </update>
   
   <update id="updateReplyCnt">
   		UPDATE tbl_memo
   		SET replycnt = replycnt + #{amount} where no = #{no}
   </update>
</mapper>