<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 쿼리문 xml에 넣어서 사용하기 -->
  <!-- namespace = 우리껄로 패키지 지정해줘야한다 -->
<mapper namespace="edu.springz.mapper.MemoAttachMapper">

	<insert id="insert">
	insert into tbl_memo_attach(uuid, uploadpath, filename, filetype, no)
	values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{no})
	</insert>
	
	<delete id="delete">
	delete from tbl_memo_attach where uuid = #{uuid }
	</delete>
	
	<select id="findByBno" resultType="edu.springz.domain.MemoAttachVO">
	select * from tbl_memo_attach where no = #{no }
	</select>
	
	<delete id="deleteAll">
	delete from tbl_memo_attach where no = #{no }
	</delete>
	
	<select id="getOldFiles" resultType="edu.springz.domain.MemoAttachVO">
		select * from tbl_memo_attach where uploadpath = to_char(sysdate -1, 'yyyy\mm\dd')
	</select>
	
</mapper>







