<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.springz.mapper.ReplyMapper">
	
<!-- 	<select id="getListWithPaging" resultType="edu.springz.domain.ReplyVO"> -->
<!-- 		SELECT * from tbl_memo_reply WHERE no = #{no} order by rno ASC -->
<!-- 	</select> -->

	<select id="getListWithPaging" resultType="edu.springz.domain.ReplyVO">
      <![CDATA[
         SELECT * FROM (
            SELECT /*+INDEX_DESC(tbl_memo_reply idx_memo_reply) */
               rownum rn, rno, no, reply, replyer, replydate, updatedate
            FROM tbl_memo_reply 
            WHERE no = #{no } AND
            rownum <= #{cri.pageNum} * #{cri.amount}
            ) WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
      ]]> 
   </select>
   
   <!-- 댓글 갯수  -->
   <select id="getCountByBno" resultType="int">
     	SELECT COUNT(rno) FROM tbl_memo_reply WHERE no = #{no } 
   </select>
	
	<update id="update">
		UPDATE tbl_memo_reply
   		SET reply = #{reply}, updateDate = sysdate
   		WHERE rno = #{rno}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_memo_reply WHERE rno = #{rno }
	</delete>
	
	<select id="read" resultType="edu.springz.domain.ReplyVO">
		SELECT * FROM tbl_memo_reply WHERE rno = #{rno }
	
	</select>
	
	<insert id="insert">
		INSERT INTO tbl_memo_reply (rno, no, reply, replyer)
		VALUES (seq_memo_reply.nextval, #{no}, #{reply}, #{replyer})
	</insert>

</mapper>